gigachain==0.1.4
PyPDF2==3.0.1
Requests==2.31.0
docx2txt==0.8
gigachat==0.1.15
tiktoken==0.5.2
pypdf==4.0.1
fastapi==0.109.2
uvicorn==0.27.0
gunicorn==21.2.0
python-multipart==0.0.7
SQLAlchemy==2.0.25